body {
  margin: 0;
}

header {
  margin: 0 auto;
  width: 960px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: white;
  background-color: gray;
  padding: 4px 16px;
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  list-style: none;
}

#main-visual {
  height: 600px;
  width: 100%;
  background-image: url(src/mainvisual.jpg);
  background-size: cover;
  background-position: center;
}

section {
  margin: 0 auto;
  width: 960px;
  padding: 4%;
  text-align: center;
}

.section-title {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.about-content  {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-left-content {
  width:100px;
  height:100px;
  border-radius:50%;
  background-image: url(about.jpg);
  background-size: cover;
  background-position: center;
}

.about-right-content {
  text-align: left;
  width: 50%;
  margin: 8px 0 0 8px;
}

.name {
  font-weight: bold;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  font-size: 12px;
}