body {
  background-color: #f0f0f0;
  color: #000;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1 {
  letter-spacing: 0.3em;
  font-weight: normal;
  font-size: 36px;
}

p {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

header {
  display: flex;
  padding-left: 128px;
  height: 80px;
}

.header-nav {
  text-align: center;
}

.title-list {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-ul {
  display: flex;
  list-style: none;
}

.header-li {
  margin-left: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

.contact {
  width: 20%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#main-visual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

#news {
  padding: 4% 16%;
}

.section-h1 {
  margin-block-end: 0;
}

.section-title-p::after {
  margin-top: 24px;
  margin-bottom: 48px;
  content: "";
  display: block;
  width: 48px; /* 下線の幅 */
  height: 1px; /* 下線の太さ */
  background-color: #000; /* 下線の色 */
}

div.news-list {
  display: flex;
  justify-content: space-between;
}

ul.news-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

ul.news-ul:nth-child(n + 2) {
  border-left: 1px solid;
  padding-left: 16px;
}

/* ul.news-ulの2番目を指定 */
ul.news-ul li:nth-child(2) {
  font-size: 12px;
  background-color: #000;
  color: #fff;
  padding: 2px 4px;
  margin-left: 8px;
  margin-bottom: 16px;
}

#about {
  margin-top: 48px;
  width: 100%;
  display: flex;
}

#about-img {
  height: 400px;
  width: 55%;
  background-image: url(../img/about\ 2.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.about-text {
  padding: 8% 80px;
  max-width: 30%;
}

.about-text > p {
  line-height: 2;
}

#business {
  margin-bottom: 8%;
}

#business .flex {
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  /* padding: 0 10%; */
}

#business .flex .left {
  width: 46%;
  padding-top: 5%;
}

#business .flex .right {
  width: 46%;
}

#business .flex .item {
  margin-bottom: 50px;
}

#business .flex .item > p {
  font-weight: bold;
}
#business .flex .item > p:before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}

/*
テキストと画像はpositionを使って配置
子要素の「position: absolute;」で高さがなくなるため、
「height: 750px;」を指定して高さを確保
*/
#company {
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 8%;
}

#company-text {
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 8%;
}

#company .img {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}
#company .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
dt {
  width: 15%;
  margin-top: 10px;
}
/*
1つめのdtにはmargin-topを設定しない
*/
#company dt:first-of-type {
  margin-top: 0;
}
#company dd {
  width: 85%;
  margin-top: 10px;
}
/*
1つめのddにはmargin-topを設定しない
*/
#company dd:first-of-type {
  margin-top: 0;
}
#company .add {
  margin-left: 20%;
}

#footer {
  background-color: #fff;
  padding-bottom: 20px;
}
#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
#footer .flex .logo {
  margin-right: 0;
}
#footer .copyright {
  font-size: 0.625rem;
}

@media screen and (max-width: 900px) {
  header {
    display: flex;
    padding-left: 64px;
    flex-direction: row;
  }

  h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }

  .title-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact {
    display: none;
  }

  #news {
    padding: 4% 8%;
  }

  div.news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul.news-ul li:nth-child(2) {
    font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    margin-left: 8px;
    margin-right: 50%;
    margin-bottom: 8px;
  }

  ul.news-ul:nth-child(n + 2) {
    border-left: none;
    padding-left: 0;
  }

  #about {
    display: block;
  }

  #about-img {
    width: 100%;
  }

  .about-text {
    padding: 8% 80px;
    max-width: 100%;
  }

  #business {
    width: auto;
  }

  #business .flex {
    padding-left: 5%;
    display: flex;
    /* padding: 0 10%; */
    flex-direction: column;
  }

  #business .flex .left {
    width: 100%;
    padding-top: 5%;
  }
  #business .flex .right {
    width: 100%;
    padding-top: 5%;
  }

  /*
  「position: static;」でrelativeを解除
  */
  #company {
    height: auto;
    flex-direction: column;
    position: static;
  }
  #company-text {
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 20px;
    position: static;
  }

  #company .img {
    width: 100%;
    padding: 0;
    position: static;
  }

  #footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .flex .logo {
    margin-bottom: 10px;
  }
}
