body {
  margin: 0;
}

#header {
  margin: 0 auto;
  max-width: 960px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  list-style: none;
}

.header-title {
  color: white;
  background-color: gray;
  padding: 4px 16px;
  font-size: 24px;
  font-weight: bold;
}

.bicycle-ul {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  list-style: none;
}

#main-visual {
  height: 600px;
  max-width: 100%;
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
}

section {
  margin: 0 auto;
  max-width: 960px;
  padding: 4%;
  text-align: center;
}

.section-title {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.about-content  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-left-content {
  width:100px;
  height:100px;
  border-radius:50%;
  background-image: url(img/about.jpg);
  background-size: cover;
  background-position: center;
}

.about-right-content {
  text-align: left;
  width: 50%;
  margin: 8px 0 0 8px;
}

.name {
  font-weight: bold;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  #header {
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #main-visual {
    height: 500px;
    width: 100%;
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-left-content {
    width:100px;
    height:100px;
    border-radius:50%;
    background-image: url(img/about.jpg);
    background-size: cover;
    background-position: center;
  }

  .about-right-content {
    text-align: left;
    width: 80%;
    margin: 8px 0 0 8px;
  }

  .bicycle-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    list-style: none;
    padding: 0;
  }
}